@charset "UTF-8";


@media screen and (min-width: 600px) and (max-width: 1400px) {
    
    
    body{
        min-width: 900px;
        

    }

    .primeira{        
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 100vh;
        
                
    }

    .header{
        grid-column-start: 1;
        grid-column-end: 5;
        padding: 50px 20px 10px 20px;
        padding-top: 40px;
        height: 40%;
        align-items: center;
               
    }
    #logo2{
        width: 15%;
    }

    #botaoheader{
        width: 180px;
        height: 35px;
        border-radius: 30px;
    }

    div.texto{
       
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .texto > h1{
        text-align: left;
        margin-left: 50px;
        margin-top: 80px;
        font-size: 2.2em;
    }

    .texto > p{
        text-align: left;
        margin-left: 30px;
        margin-right: 150px;

    }
    .texto > #botaofree{
        margin-left: 25%;
        
    }

    div.mock{
     
        grid-column-start: 3;
        grid-column-end: 5;
        
   
    }
    #imock{
        margin-left: -20%;
        margin-top: 0%;
        padding-bottom: 60px;
    }
    
/* Primeira div growtogether*/

    div#growtogether{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        height: 100vh;
        
    }
    #imagemconversation{
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 80%;
    }

    #growtogether > h1{
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        height: 30px;
        margin-top: 200px;
    }       

}